h1 {
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    margin: 10px;
    padding: 10px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, red, blue, green);
    height: 100vh;
}